The installation steps below should be reviewed before starting the workshop.
The workshop will focus on the use of Google Colab, which requires minimal
software setup. 

The additional software setup information will allow you to reproduce the
functionality of Google colab fully on your local machine. This independent
setup will not be reviewed in the workshop, but this configuration
is recommended for advanced or automated workflows.

{% include install_instructions/colab.html %}
{% include install_instructions/shell.html %}
{% include install_instructions/git.html %}
{% include install_instructions/python.html %}

{% comment %}
Additional setup partials are available in `_includes/install_instructions`.
{% endcomment %}
