<div id="git">
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when. Using git you can publish your code on a git repository 
    hosting service like <a href="https://github.com/">github.com</a>.
    You will need a 
    <a href="https://help.github.com/articles/supported-browsers/">
      supported web browser
    </a>.
  </p>
  <p>
    We will be using git within the Google Colab environment.
    Git is pre-installed on Google Colab servers, so no setup is needed.
    The instructions below will allow you to use git on your local machine, 
    but for this workshop <b>you do not necessarily need git installed on your laptop.</b>
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub.
  </p>

  <h4>Local Git Installation (optional)</h4>
  <div>
    <ul class="nav nav-tabs os-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux / WSL</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <p>
          Git can be installed from <a href="https://git-scm.com/install/windows">the git website</a>.
          Alternatively, git will be installed on your computer as part of most Bash emulator
          installations. If you have a Bash shell (such as <a href="https://mobaxterm.mobatek.net/">MobaXTerm</a>),
          you may already have git installed.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
        <p>
          Please open the Terminal app, type <code>git --version</code> and press
          <kbd>Enter</kbd>/<kbd>Return</kbd>. If it's not installed already,
          follow the instructions to <code>Install</code> the "command line
          developer tools". <strong>Do not click</strong> "Get Xcode", because that will
          take too long and is not necessary for our Git lesson.
          After installing these tools, there won't be anything in your <code>/Applications</code>
          folder, as they and Git are command line programs.
          <strong>For older versions of OS X (10.5-10.8)</strong> use the
          most recent available installer labelled "snow-leopard"
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">available here</a>.
          (Note: this project is no longer maintained.)
          Because this installer is not signed by the developer, you may have to
          right click (control click) on the .pkg file, click Open, and click
          Open in the pop-up dialog.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          If Git is not already available on your machine you can try to
          install it via your distro's package manager. For Debian/Ubuntu run
          <code>sudo apt-get install git</code> and for Fedora run
          <code>sudo dnf install git</code>.
        </p>
      </article>
    </div>
  </div>
</div>
